* {
  font-family: Verdana, sans-serif;
  color: #e0e0f0;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #222;
}

body {
  overscroll-behavior: contain;
}

#editor-buttons-existing,
#editor-buttons-new,
div.input.right,
.right {
  text-align: right;
}

#about-screen {
  padding: 3vmin;
  background-color: #111;
  font-size: 4.2vmin;
  line-height: 6vmin;
}

#about-screen a {
  color: #90a0ff;
}

#about-screen a.button,
#builtins-screen a.button {
  color: #e0e0f0;
}

#about-screen p {
  padding: 2vmin;
}

#about-screen ul {
  margin: 1vmin 6vmin;
}

#alert.hidden,
#builtins-screen.hidden,
#confirm.hidden,
#editor-screen.hidden,
#deck-properties-screen.hidden,
#no-cards.hidden,
#load-screen.hidden,
#practice-screen.hidden,
#about-screen.hidden,
#all-cards.hidden,
#tsv-info.hidden,
#practice-card.hidden {
  display: none;
}

#practice-card {
}

#practice-info {
  background-color: #000;
  position: absolute;
  left: 1vw;
  width: 96vw;
  max-width: 57vh;
  top: 10vh;
  height: 20vh;
  overflow: auto;
  font-size: 4.5vmin;
  border: inset 0.5vmin #666;
  border-radius: 1vmin;
  padding: 1vmin;
  text-align: center;
  z-index: 10;
}

#practice-canvas {
  position: absolute;
  left: 1vw;
  top: 33vh;
  width: 96vw;
  height: 96vw;
  max-width: 57vh;
  max-height: 57vh;
  border: inset 0.5vmin #666;
  border-radius: 1vmin;
  z-index: 11;
}

#practice-kanji {
  font-size: 6.0vmin;
  transition: background-color 0.3s, color 0.3s;
  background-color: #000;
  margin: 0.5vmin;
  min-height: 9.2vmin;
}

#practice-kanji span {
  color: #9898a2;
}

#practice-kanji.hidden span {
  opacity: 0;
}

#practice-kanji span.current {
  color: #e0e0f0;
}

#practice-kanji.hidden {
  background-color: #555;
  color: #555;
  transition: background-color 0s, color 0s;
}

#practice-pronunciation {
  font-size: 5.4vmin;
  transition: background-color 0.3s, color 0.3s;
  background-color: #000;
  color: #c8c8d2;
  margin: 0.5vmin;
}

#practice-pronunciation.hidden {
  background-color: #555;
  color: #555;
  transition: background-color 0s, color 0s;
}

#grade {
  position: absolute;
  top: 22vh;
  left: 7vw;
  padding: 1.2vmin 0.3vmin;
  display: block;
  width: 84vw;
  min-height: 10vmin;
  text-align: center;
  opacity: 1.0;
  transition: opacity 0.25s, height 0.25s;
  z-index: 20;
}

#grade.hidden {
  opacity: 0;
  transition: opacity 0.1s, height 0.1s;
  height: 0;
  min-height: 0;
  padding: 0;
  border-style: none;
  overflow: hidden;
}

button,
a.button {
  color: #e0e0f0;
  display: inline-block;
  font-size: 5.0vmin;
  line-height: 6.0vmin;
  font-weight: bold;
  padding: 1.2vmin 2.2vmin;
  border-style: outset;
  border-width: 0.7vmin;
  border-radius: 3vmin;
  text-decoration: none;
  text-align: center;
}

#hint-button {
  color: #fff;
  border-color: #763;
  background-color: #a94;
  padding-right: 3.2vmin;
  padding-left: 3.2vmin;
}

#details-button {
  color: #fff;
  border-color: #174;
  background-color: #286;
}

#teach-button {
  color: #012;
  border-color: #35c;
  background-color: #46d;
}

#save-json-button {
  border-color: #716;
  background-color: #827;
}

svg.icon {
  padding: 0;
  margin: 0;
  margin-top: 0.5vmin;
  margin-bottom: -0.5vmin;
  border-width: 0;
  width: 4.4vmin;
  height: 4.4vmin;
}

#clear-button {
  color: #fee;
  border-color: #921;
  background-color: #b21;
}

#grade button {
  min-width: 16vw;
  font-size: 4.6vmin;
  padding: 1.2vmin 2.0vmin;
}

button#grade-bad {
  background-color: #900;
  color: #eee;
  border-color: #700;
}

button#grade-soso {
  background-color: #983;
  color: #ffffff;
  border-color: #762;
}

button#grade-good {
  background-color: #295;
  color: #ffffff;
  border-color: #174;
}

button#grade-easy {
  background-color: #35a;
  color: #ffffff;
  border-color: #238;
}

div#stats {
  position: absolute;
  z-index: 12;
  top: 0.4vh;
  right: 0.4vw;
  font-size: 3.6vmin;
  max-width: 19vw;
  text-align: right;
}

#practice-kanji-details-close,
#all-cards-back,
#all-cards a.button,
#about-back,
#builtins-back,
#menu-button {
  background-color: #347;
  border-color: #246;
  color: #e0e0f0;
  font-family: Verdana, sans-serif;
}

#about-back,
#builtins-back {
  min-width: 16vw;
}

#builtins-screen div.deck a.button {
  min-width: 45vw;
  text-align: center;
  font-size: 5vmin;
  border-color: #125;
  background-color: #237;
  color: #eee;
  margin: 2vmin;
}

#builtins-screen div.deck {
  margin: 5vh 10vw;
  font-size: 4.2vmin;
  text-align: center;
  border: solid 0.5vmin #111;
  border-radius: 3vmin;
  background: #161616;
  padding: 3vmin;
}

#practice-kanji-details-close {
  padding-left: 3.2vmin;
  padding-right: 3.2vmin;
}

#menu-button {
  margin-right: 0.5vmin;
}

#learn-button {
  background-color: #173;
  border-color: #161;
  color: #efe;
  transition: width 0.2s, height 0.2s, opacity 0.2s;
  width: auto;
  height: auto;
  opacity: 1.0;
  padding-right: 3vmin;
  padding-left: 3vmin;
}

#learn-button.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

#menu {
  z-index: 1000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 86vmin;
  min-height: 93vh;
  max-width: 93vw;
  transition: left 0.2s, opacity 0.2s;
  opacity: 1;
  box-shadow: 1vmin 1vmin 1vmin rgba(6, 6, 10, 0.7);
}

#menu.hidden {
  left: -110vw;
  opacity: 0;
  transition: left 0.1s, opacity 0.1s;
  min-height: 0;
  height: 93vh;
  overflow: hidden;
}

#menu li {
  border-bottom: solid 1px #000;
}

#menu a {
  display: inline-block;
  font-weight: bold;
  font-size: 5vmin;
  line-height: 8vmin;
  margin: 1.5vmin;
  padding: 1.5vmin;
  min-width: 72vmin;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 1vmin;
}

#menu,
#menu a {
  background-color: #181828;
}

#menu a:hover {
  background-color: #235;
  color: #dde;
}

#load-screen {
  background-color: #111;
  padding-bottom: 5vmin;
}

#load-dragndrop {
  padding: 1vmin;
  margin: 1vmin 3vmin;
  overflow: auto;
  background-color: #000;
  border: dotted 0.3vmin #445;
  border-radius: 2vmin;
  font-size: 5vmin;
  height: 30vmin;
  line-height: 30vmin;
  text-align: center;
}

#load-dragndrop:hover {
  border: dotted 0.6vmin #445;
  margin: 0.7vmin 2.7vmin;
  background-color: #112;
}

div.input {
  margin: 0.3vmin 1vw;
  text-align: center;
  padding: 1vmin;
}

div.input textarea,
div.input select,
div.input input {
  font-size: 4vmin;
  height: 6vmin;
  line-height: 6vmin;
  border-radius: 1vmin;
  border: inset 0.3vmin #445;
  background-color: #000;
  color: #cce;
  width: 90vw;
  padding: 0.2vmin 1vmin;
  margin: 0.5vmin;
  margin-bottom: 1vmin;
}

div.input input[type=checkbox] {
  width: 6vmin;
  height: 6vmin;
}

#editor-form div.input textarea {
  position: relative;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s;
}

#editor-form div.input textarea:focus {
  opacity: 1;
  transition: opacity 0.2s;
}

div.input textarea {
  height: 36vmin;
}

div.input label {
  display: block;
  font-size: 4vmin;
  min-height: 6vmin;
  line-height: 6vmin;
}

#tsv-format {
  margin-bottom: 5vmin;
}

div.input button {
  border-color: #125;
  min-width: 20vw;
  background-color: #237;
  color: #eee;
}

#no-cards {
  font-size: 5vmin;
  line-height: 8vmin;
  padding-top: 20vh;
  padding-bottom: 10vh;
  width: 70vw;
  margin: auto;
  height: 30vh;
  text-align: center;
  background-color: #000;
  border-radius: 2vmin;
}

#no-cards a {
  color: #77f;
  font-weight: bold;
}

#message {
  position: absolute;
  font-size: 5vmin;
  top: 1vmin;
  left: 10vw;
  right: 10vw;
  text-align: center;
  padding: 1.2vmin;
  background-color: rgba(70, 70, 35, 0.9);
  border-radius: 1vmin;
  transition: top 0.3s;
}

#message.hidden {
  top: -60vh;
  transition: top 1.5s;
}

h1 {
  font-size: 6vmin;
  text-align: center;
  padding: 2vmin;
}

#all-cards-stats h2 {
  font-size: 3.8vmin;
  text-align: center;
  padding: 1vmin;
}

#alert,
#confirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 5vmin;
}

#alert-window,
#confirm-window {
  margin: 15vh 10vmin 2vmin 10vmin;
  padding: 3vmin;
}

#alert-window,
#confirm-window,
#grade {
  border: outset #984;
  border-radius: 3vmin;
  background-color: rgba(192, 176, 96, 0.8);
  box-shadow: 1vmin 1vmin 1vmin rgba(6, 6, 10, 0.7);
}

#alert-message,
#confirm-message {
  color: #000;
  margin-bottom: 5vmin;
}

#alert-ok,
#confirm-yes,
#confirm-no {
  background-color: #641;
  border-color: #641;
  margin-left: 5vmin;
  margin-right: 5vmin;
  color: #eee;
  padding: 1.5vmin 4.5vmin;
}

#confirm-no {
  background-color: #641;
  border-color: #641;
}

#editor-screen {
  background-color: #111;
  padding-bottom: 5vmin;
}

#editor-screen div.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: opacity 0.5s height 0.5s;
}

#editor-screen button {
  margin: 0.3vmin 2vmin;
}

#all-cards span,
#all-cards rt,
#all-cards dt,
#all-cards dd,
#all-cards ruby,
#all-cards div,
#all-cards li {
  font-size: 3.6vmin;
}

#all-cards {
  line-height: 5vmin;
  background: #000;
}

#all-cards-stats {
  max-width: 95vw;
  overflow-x: auto;
  margin: 3vmin;
}

#all-cards-stats > p {
  text-align: center;
}

#all-cards-stats table {
  margin: auto;
  border-spacing: 0;
  padding 0;
}

#all-cards-stats table th,
#all-cards-stats table td {
  margin: 0;
  padding: 0.3vmin;
  min-width: 5vw;
}

#all-cards-stats table tr,
#all-cards-stats table th,
#all-cards-stats table td {
  border-collapse: collapse;
  border: solid 1px #555;
}

#all-cards-stats table * {
  border-spacing: 0;
  font-weight: normal;
  font-size: 2.3vmin;
  text-align: center;
  padding 0;
}

#all-cards a.button {
  display: inline-block;
  min-width: 21vmin;
  text-align: center;
}

#all-cards span.furigana {
  border-radius: 0.2em;
  border: solid 1px #333;
  background-color: transparent;
  border-style: none;
}

#all-cards span.furigana ruby rt {
  font-size: 57%;
  color: rgba(220, 220, 220, 0.75);
  opacity: 1.0;
}

#all-cards ol {
  padding: 0.6em;
}

#all-cards ol li {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin-left: 2em;
}

#all-cards ol > li {
  border: solid 1px #333;
  padding: 0.2em;
  margin: 0.2em;
  margin-left: 3.5em;
}

#all-cards ol > li > div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: flex-start;
  flex-direction: row;
}

#all-cards dt {
  display: block;
  width: 48%;
  min-width: 70vmin;
  padding: 1%;
}

#all-cards dd {
  display: block;
  width: 48%;
  min-width: 70vmin;
  padding: 1%;
}

#all-cards div.score,
#all-cards div.notes {
  clear: both;
  font-size: 80%;
  margin-top: 0.2em;
}

div.score.low                   { color: #faa; }
div.score.medium-low            { color: #fca; }
div.score.medium                { color: #ffa; }
div.score.medium-high           { color: #cfa; }
div.score.high                  { color: #afa; }

div.histogram-vis.low           { background: #faa; }
div.histogram-vis.medium-low    { background: #fca; }
div.histogram-vis.medium        { background: #ffa; }
div.histogram-vis.medium-high   { background: #cfa; }
div.histogram-vis.high          { background: #afa; }

#all-cards div.notes rt {
  font-size: 57%;
}

#all-cards div.with_furigana {
  margin-top: 0.5em;
  color: rgba(220, 220, 220, 0.85);
}

#all-cards-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 1vmin;
}

@media all and (orientation:landscape) {
  #grade {
    top: 11vh;
  }

  #practice-info {
    position: absolute;
    left: 49vw;
    top: 15vh;
    width: 48vw;
    max-width: 48vw;
    height: 80vh;
    max-height: 40vw;
  }

  #practice-canvas {
    position: absolute;
    left: 1vw;
    top: 15vh;
    width: 80vh;
    height: 80vh;
    max-width: 40vw;
    max-height: 40vw;
  }
}

#practice-kanji-details {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  width: 95vw;
  max-width: 96vw;
  min-height: 96vh;
  overflow-x: auto;
  background-color: #080b18;
  border: outset 0.5vmin #246;
  border-radius: 1vmin;
  transition: left 0.15s;
  box-shadow: 1vmin 1vmin 1vmin rgba(6, 6, 10, 0.7);
}

#practice-kanji-details.hidden {
  left: -100vw;
  transition: left 0.15s;
  height: 96vh;
  max-height: 96vh;
  min-height: 0;
  overflow: hidden;
}

#practice-kanji-detials-buttons {
  text-align: right;
}

#practice-kanji-details-notes {
  margin-top: -8vmin;
}

#practice-kanji-details-notes div {
  border: inset 0.2vmin #445;
  border-radius: 1vmin;
  background-color: #000;
  margin: 1vmin 3vmin;
  padding: 2vmin;
  font-size: 4.2vmin;
  line-height: 7vmin;
}

#practice-kanji-details-content {
  padding: 2vmin;
}

#practice-kanji-details-content h1,
#practice-kanji-details-content h2,
#practice-kanji-details-content h3 {
  text-align: left;
  margin: 3vmin 0 1vmin 0;
}

#practice-kanji-details-content h1 {
  font-size: 6.0vmin;
  padding: 1vmin;
}

#practice-kanji-details-content h2 {
  font-size: 5.0vmin;
  margin-left: 2vmin;
}

#practice-kanji-details-content h3 {
  font-size: 4.5vmin;
  margin-left: 4vmin;
}

#practice-kanji-details-content table {
  border-collapse: collapse;
  margin-bottom: 4vmin;
}

#practice-kanji-details-content table,
#practice-kanji-details-content div {
  font-size: 3.5vmin;
  margin-left: 6vmin;
  border-style: none;
  text-align: left;
}

#practice-kanji-details-content table tr:nth-child(2n+1) {
  background-color: #182030;
}

#practice-kanji-details-content table th,
#practice-kanji-details-content table td {
  text-align: left;
  padding: 0.5vmin 2vmin;
  border-style: none;
  vertical-align: top;
}

#practice-kanji-details-about p {
  text-align: center;
  font-size: 3vmin;
  margin: 3vmin;
}

#notes-preview {
  vertical-align: top;
  position: relative;
  display: inline-block;
  font-size: 4vmin;
  line-height: 6vmin;
  border-radius: 1vmin;
  border: inset 0.3vmin #445;
  background-color: #000;
  color: #cce;
  width: 90vw;
  padding: 0.2vmin 1vmin;
  margin: 0.5vmin;
  z-index: 99;
  text-align: left;
  overflow: auto;
  top: -38vmin;
  height: 36vmin;
  margin-bottom: -36vmin;
}

#format {
  font-size: 2.8vmin;
  margin: 0.1vmin 10vmin;
}

#format span.furigana ruby rt {
  font-size: 2.0vmin;
}

code {
  padding: 1vmin;
  background-color: #000;
  font-family: monospace;
}

span.furigana {
  border: solid 0.5vmin;
  border-radius: 2vmin;
  background-color: #112;
  border-color: #224;
}

div.example {
  background-color: #000;
  margin: 1vmin;
  padding: 1vmin;
  word-wrap: break-word;
  margin-bottom: 2vmin;
}
